{% extends 'album/base.html' %}

{% load static %}
{% block content %}

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for post in posts %}
    <img src="{{post.my_image.url}}" class="img-responsive" alt="Image" height="300vh" width="100" data-bs-toggle="modal" data-bs-target="#exampleModal{{post.id}}">
    <!-- Modal -->
    <div class="modal fade" id="exampleModal{{post.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{post.image_name}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    
                    <p> Name: {{post.image_name}} </p>
                    <p> Category: {{post.image_category}} </p>
                    <p> Locaton: {{post.image_location}} </p>
                    <p> About: {{post.image_description}} </p>
                    <img src="{{post.my_image.url}}" class="img-responsive" alt="Image" height="300vh" width="100%">
                </div>
                <div class="modal-footer">
                    <input type="text" id="image_link" value="{{post.my_image.url}}" class="btn btn-outline-primary form-control">
                    <button onclick="myFunction()">Copy Link</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
            
  
{% endblock %}